.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.main-list {
  display: flex;
  justify-content: center;
  max-width: 1170px;
}

.main-item:not(:last-child) {
  margin-right: 30px;
}

.main-item {
  width: 270px;
}

.main-title-third {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 10px;
}

.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--main-text);
}
