.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.logo-mail {
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}

.logo-tel {
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.header-mail-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}
.header-mail-link {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

.header-tel-link {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-right-item {
  display: flex;
  align-items: baseline;
}

.header-right-item:not(:last-child) {
  margin-right: 50px;
}

/*---------------------Main--------*/

/*--------Hero--------*/
.hero-section {
  padding: 200px 0;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg/hero.jpg);

  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--main-title-color);
  max-width: 696px;
  height: 100%;
  margin: 0 auto;
}
