.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.02);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid #0000001a;
  background-color: unset;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-box {
  width: 448px;
  height: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
}
.form-field-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-logo {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.input-wrap {
  display: block;
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  margin-bottom: 10px;
}

.textarea {
  height: 120px;
  padding: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-field-textarea:focus,
.form-field-textarea:hover {
  outline: none;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;

  margin-bottom: 4px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}
.input-wrap:focus-within {
  fill: var(--accent-color);
}
.input-wrap:hover {
  fill: var(--accent-color);
}
.form-input:hover,
.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.textarea:hover,
.textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-input:checked + .checkbox-label::before {
  background: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: var(--accent-color);
  background-size: contain;
  background-position: center;
  border: 0;
}

.form-link {
  color: var(--accent-color);
  border: 0;
  margin-left: 5px;
}

.send {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 10px 55px 10px 56px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send:focus,
.send:hover {
  background-color: #188ce8;
}
